<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Mon compte - Idées cadeaux{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    {% block stylesheets %}
        {{ encore_entry_link_tags('account') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('account') }}
    {% endblock %}
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-gifts"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Idées cadeaux</div>
        </a>

        <li class="nav-item">
            <a class="nav-link" href="{{path('viewCurrentList')}}">
                <i class="fas fa-clipboard-list"></i>
                <span>Listes en cours</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Familles
        </div>

        <!-- Nav Item - Pages Collapse Menu -->

        <li class="nav-item">
            <a class="nav-link" href="{{path('joinFamily')}}">
                <i class="fas fa-link"></i>
                <span>Rejoindre une famille</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('listFamilies')}}">
                <i class="fas fa-users"></i>
                <span>Mes familles</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('listChildren')}}">
                <i class="fas fa-child"></i>
                <span>Mes enfants</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('listFamiliesMembers')}}">
                <i class="fas fa-users"></i>
                <span>Membres de mes familles</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Création
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{path("createFamily")}}">
                <i class="fas fa-plus"></i>
                <span>Créer une famille</span>
            </a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{{path('createList')}}">
                <i class="fas fa-plus"></i>
                <span>Créer une liste</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{path('askGift')}}">
                <i class="fas fa-plus"></i>
                <span>Ajouter un cadeau</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Gestion
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{path('viewMyGifts')}}">
                <i class="fas fa-gifts"></i>
                <span>Mes cadeaux</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{path('viewAllList', {'id': app.user.id})}}">
                <i class="fas fa-clipboard-list"></i>
                <span>Mes listes</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="{{path('app_logout')}}">
                <i class="fas fa-sign-out-alt"></i>
                <span>Déconnexion</span>
            </a>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <p id="userDropdown">
                            <span class="mr-2 text-dark font-weight-bold">Bonjour {{ app.user.firstName }}</span>
                        </p>
                    </li>

                </ul>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid mt-5">
                {# FLASHBAG MESSAGE #}
                {% set success = app.flashes('success') %}
                {% if success is not empty %}
                    <div class="alert alert-fade alert-success">
                        {% for message in success %}
                            {{ message }}<br/>
                        {% endfor %}
                    </div>
                {% endif %}
                {% set info = app.flashes('info') %}
                {% if info is not empty %}
                    <div class="alert alert-fade alert-info">
                        {% for message in info %}
                            {{ message }}<br/>
                        {% endfor %}
                    </div>
                {% endif %}
                {% set error =  app.flashes('error')  %}
                {% if error is not empty %}
                    <div class="alert alert-fade alert-danger">
                        {% for message in error %}
                            {{ message }}<br/>
                        {% endfor %}
                    </div>
                {% endif %}
                {# END FLASHBAG MESSAGE #}
                {% block body %}
                {% endblock %}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Digistos - {{ "now"|date("Y") }}</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Bootstrap core JavaScript-->
<script src="{{ asset('sb_admin/vendor/jquery/jquery.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('sb_admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{  asset('sb_admin/js/sb-admin-2.min.js') }}"></script>

</body>

</html>
