{% extends "account/base.html.twig" %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Rejoindre une famille</h1>
    </div>
    <div>
        {{ form_start(form, {'attr': {'class': 'flex-column d-flex align-items-center  justify-content-center'}}) }}

        <div class="my-custom-class-for-errors col-12">
            {{ form_errors(form) }}
        </div>

        <div class="col-12 col-md-6 col-lg-5 mb-3">
            {{ form_label(form.uuid) }}
            {{ form_widget(form.uuid) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
