{% extends "account/base.html.twig" %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Carnet d'adresses</h1>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary display-6">Liste</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th class="d-none d-lg-table-cell">Email</th>
                        <th class="d-none d-lg-table-cell">Adresse</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th class="d-none d-lg-table-cell">Email</th>
                        <th class="d-none d-lg-table-cell">Adresse</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.lastName }}</td>
                            <td>{{ member.firstName }}</td>
                            <td class="d-none d-lg-table-cell"><a href="{{ "mailto:"~member.email }}">{{ member.email }}</a></td>
                            <td class="d-none d-lg-table-cell">{{ member.street }} {{ member.postalCode }} {{ member.city }} {{ member.country }}</td>
                        </tr>
                            {% for child in member.children %}
                                <tr>
                                    <td>{{ child.lastName }}</td>
                                    <td>{{child.firstName }}</td>
                                    <td class="d-none d-lg-table-cell"><a href="{{ "mailto:"~member.email }}">{{ member.email }}</a></td>
                                    <td class="d-none d-lg-table-cell">{{ member.street }} {{ member.postalCode }} {{ member.city }} {{ member.country }}</td>
                                </tr>
                            {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
