{% extends "account/base.html.twig" %}

{% block body %}
    <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">Listes de cadeau(x) {% if user is defined %}de <span class="first-uppercase">{{ user.firstName }}</span> <span class="first-uppercase">{{ user.lastName }}</span> {%endif%}</h1>
            {% if user is defined and (user == app.user or (user.parent is defined and user.parent.id == app.user.id)) %}
                <a href="{{path('createList')}}" class="btn btn-primary"><i class="fas fa-plus pr-3"></i>Créer une liste</a>
            {% endif %}
        </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date d'expiration</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Date d'expiration</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for list in giftGroups %}
                        {% if list.expireDate|date('Y-m-d') > "now"|date('Y-m-d')
                            or (user is defined and (user == app.user or (user.parent is defined and user.parent.id == app.user.id)))
                            %}
                                <tr>
                                    <td class="first-uppercase">{{ list.name }}
                                            par<strong>
                                            {% if list.child is not null %}
                                                {{ list.child.firstName ~" "~list.child.lastName }}
                                            {% else %}
                                                {{ list.askBy.firstName ~" "~list.askBy.lastName }}
                                            {% endif %}</strong>
                                        </td>
                                    <td >{{ list.expireDate |date('d/m/Y') }}</td>
                                    <td>
                                    {% if list.child is null %}
                                        <a href="{{ path('viewOneList', {'id': list.id}) }}" title="Voir la liste de cadeaux"><i class="fas fa-clipboard-list"></i></a>
                                    {% else  %}
                                        <a href="{{ path('viewChildList', {'id': list.id}) }}" title="Voir la liste de cadeaux"><i class="fas fa-clipboard-list"></i></a>
                                    {% endif %}
                                        {% if user is defined and list.askBy == app.user and list.gifts is empty %}
                                        <button
                                                class="btn btn-link"
                                                data-bs-body="{{ "Voulez-vous supprimer la liste " ~ list.name }}"
                                                data-bs-button="Supprimer"
                                                data-bs-url="{{ path("deleteList", {'id' : list.id}) }}"
                                                data-bs-title="{{ "Supprimer une liste" }}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"
                                                title="Supprimer la liste">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </button>
                                            {% endif %}
                                    </td>
                                </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "account/_modal.html.twig" %}


{% endblock %}
