{% extends "account/base.html.twig" %}

{% block body %}
    <!-- Page Heading -->
        <div class="d-sm-flex flex-wrap align-items-center justify-content-between mb-4">
            {% if gifts_group is not defined %}
                <h1 class="h3 mb-2 text-gray-800">Mes cadeaux</h1>
                <a href="{{path('askGift')}}" class="btn btn-primary"><i class="fas fa-plus pr-3"></i>Ajouter un cadeau</a>
            {% else %}
                <h1 class="col-12 h3 mb-2 text-gray-800 first-uppercase">{{ gifts_group.name }} - <span class="first-uppercase">{{ user.firstName }}</span> <span class="first-uppercase">{{ user.lastName }}</span> </h1>

                <p class="col-12 h4"><em>Au besoin, envoyer à : {{ user.street }} {{ user.postalCode }} {{ user.city }} {{ user.country }} -
                        <a href="{{ "mailto:"~user.email }}">{{ user.email }}</a></em></p>
            {% endif %}

        </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Details</th>
                        <th>Prix</th>
                        <th>Listes</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Produit</th>
                        <th>Details</th>
                        <th>Prix</th>
                        <th>Listes</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% if gifts_group is not defined %}
                        {% set gifts = user.gifts %}
                    {% else %}
                        {% set gifts = gifts_group.gifts %}
                    {% endif %}
                    {% for gift in gifts %}
                        <tr>
                            <td>
                                {% if gift.child is not null and gift.child != user %}
                                    <strong class="text-dark">{{ gift.child.firstName ~" "~ gift.child.lastName}} - </strong>
                                {% endif %}
                                <a href="{{ gift.url }}" class="first-uppercase">{{ gift.name }}</a></td>
                            <td >{{ gift.details }}</td>
                            <td>{{ gift.price }}€</td>
                            <td>
                                <ul>
                                    {% for list in gift.giftGroup %}
                                        <li  class="first-uppercase">{{ list.name }}</li>
                                    {% endfor %}
                                </ul>

                            </td>
                            <td>
                            {% if user != app.user or (gift.child.parent is defined and gift.child.parent == app.user) %}
                                    {% if gift.alreadyBuy == 1 %}
                                        Déjà réservé
                                    {% else %}
                                        <a href="{{ path('buyGift', {'id' : user.id, 'gift': gift.id}) }}" title="Réserver">Je l'ai acheté</a>
                                        <br>
                                        <button
                                                class="btn btn-link p-0"
                                                data-bs-id="{{ gift.id }}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#formModal"
                                                title="Participer">
                                                Participer à la cagnotte/Modifier ma participation
                                        </button>
                                        {% set totalAmount = 0 %}
                                        {% for pot in gift.pots %}
                                            {% set totalAmount = totalAmount + pot.amount %}
                                        {% endfor %}
                                        <br><strong class="text-dark">Montant total actuel : {{ totalAmount }}€ ({{ totalAmount * (100/gift.price) | number_format(3) }}%)</strong>
                                            <ul>
                                                {% for pot in gift.pots %}
                                                    {% if pot.user == app.user %}
                                                        <li>Vous - {{ pot.amount }}€</li>
                                                    {% else %}
                                                   <li>{{ pot.user.firstName }} - {{ pot.amount }}€</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        <br>
                                    {% endif %}
                             {% endif %}
                             {% if user == app.user or (gift.child.parent is defined and gift.child.parent == app.user) %}
                                 <a href="{{ path('editGift', {'id' : gift.id}) }}" title="Editer"><i class="fas fa-pen"></i></a>
                                 <button
                                         class="btn btn-link"
                                         data-bs-body="{{ "Voulez-vous supprimer le cadeau " ~ gift.name }}"
                                         data-bs-button="Supprimer"
                                         data-bs-url="{{ path("deleteGift", {'id' : gift.id}) }}"
                                         data-bs-title="{{ "Supprimer un cadeau" }}"
                                         data-bs-toggle="modal"
                                         data-bs-target="#deleteModal"
                                         title="Supprimer le cadeau">
                                     <i class="fas fa-trash-alt text-danger"></i>
                                 </button>
                            {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "account/_modal.html.twig" %}
    {% if form is defined %}
        {% include "account/_form_modal.html.twig" %}
    {% endif %}
{% endblock %}
